<div>
  <span>Here is the list of places.</span>

<table>
    <thead>
      <tr>
        <th>Delete</th>
        <th>My Places</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="place in places">
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="delete" ng-model="place.deleteMe">
            </label>
          </div>
        </td>
        <td>{{ place.name }}</td>
        <td>
          <div class="button">
            <label>
              <input type="button" name="edit" ng-model="place.name">
            </label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
