<div class="col-xs-12 col-sm-6 col-md-4">
  <p>
  <span>Here is the list of places.</span>
  </p>

<table>
    <thead>
      <tr>
        <th><i class="fa fa-minus-circle"
                ng-class="{'true':'icon-check','false':'icon-check-empty'}[place.editMe]" 
                ng-click="deletePlaces()"></i>
        </th>
        <th>My Places</th>
        <th><i class="fa fa-plus-circle"
                ng-class="{'true':'icon-check','false':'icon-check-empty'}[place.editMe]" 
                ng-click="addPlace()"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="place in places">
        <td>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="delete" ng-model="place.deleteMe">
            </label>
          </div>
        </td>
        <td>{{ place.name }}</td>
        <td>
          <div>
             <i class="fa fa-edit" 
                ng-class="{'true':'icon-check','false':'icon-check-empty'}[place.editMe]" 
                ng-click="edit(place)"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
